form {
  display: flex;
}
input {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  background-color: rgb(255, 250, 240, 0.5);
  color: inherit;
  padding: 6px;
  outline: 0px;
  border: 1px solid black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  padding: 16px 16px 16px 60px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.08);
}
form .button {
  background-color: #ccc;
  padding: 10px;
  border: 0px;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  font-size: 100%;
  transition: 0.3s ease-in;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
form .button:hover {
  color: white;
  background-color: rgba(16, 252, 8, 0.8);
}
